body {
    font-family: "Roboto", "Raleway", "sans-serif";
    color:black;
}

.-----------------------------------{
    margin-left: 215px;
    max-width: calc(1600px - 434px);
    margin-inline: auto;
}
.head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 93 px;
    margin-right: auto;
}
.head-options {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 0;
}
.head-menu2 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 0;
}
.titulo-principal {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn-principal {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #212121;
}
.boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fondo {
    background: #2F303A;
    height: 603px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 95px;
}
.features {
    margin-top: 95px;
}
.features-container {
    max-width: calc(1600px - 430px);
    margin: auto;
    display: flex;
    gap: 30px;
}
.features-1 {
    flex-basis: 100%;

}
